<style>
@media (max-width: 400px) { /*css pour index sur portable*/
  body{
    background-color: rgba(154, 214, 57, 0.63);
  }

  *{
    border:1px solid black;
  }

  header{
    height: 10%;
    margin:0 0 10px 0;
  }

  a{
    margin:0 0 0 20%;
    font-size: 1em;
  }


  section{
    margin:10px 0 10px 0;
    background-color: rgba(54, 139, 106, 0.77);

  }

  footer{
    background-color: rgba(221, 28, 3, 0.51);
    padding:5px 0 5px 0;
  }
}

@media (max-width: 1500px) { /*css index pour ordinateur*/
  body{
    background-color: rgba(173, 173, 173, 0.75);
  }

  header{
    background-color: rgba(50, 103, 158, 0.4);
    height: 10%;
    margin:0 0 10px 0;
  }

  h1, h2, h3{
    text-align: center;
    text-decoration: underline;
    padding: 10px 0 10px 0;
  }
  .construction{
    background-color: rgba(10, 86, 91, 0.51);
  }

.articleConstruction{
  position: relative;
}

.text{
  position: absolute;
}

  section{
    margin:10px 0 10px 0;
    background-color: rgba(139, 54, 54, 0.77);

  }

  article{
    width: 50%;
    position: relative;
  }

  div{

  }

  a{
    margin:0 0 0 20%;
    font-size: 1em;
  }

  .articleConstruction{
    padding: 30px 0 30px 0;
  }

  .articleConstruction p{
    left:20%;
    width: 150%;
    border:1px solid black;
  }

  .equipe{
    position:relative;
    border:3px solid black;
    padding: 0 0 10% 0;
  }

  .equipe article{
    display: inline-block;
    border:1px solid black;
    position: relative;
    background-color: rgba(95, 14, 215, 0.21);
  }
  .equipe img{
    display: inline-block;
    float: left;
    width: 15%;
    height: 75%;

  }
  .equipe article p{
    position: relative;
    margin:10px 0 10px 0;
    width: 100%;
  }

  .classPiece{
    top:50px;
    left:22%;
    font-size: 12px;
    font-family: Arial;
    position:relative;
  }

  .imageConstruction{ /*modifie les images */
    height: 20%;
    width: 20%;
  }

  .piece{
    position: relative;
  }

  .piece p{
    position: absolute;
    left:11%;
    font-family: arial;
  }

  .piece img{
    height: 10%;
    width: 10%;
  }

  footer{
    background-color: rgba(255, 251, 145, 0.75);
    padding:10px 0 10px 0;
  }
}
</style>
