<style>
@media (max-width: 400px) { /*css pour index sur portable*/
  body{
    background-color: rgba(173, 173, 173, 0.75);
  }

  *{
    border:1px solid black;
  }
  header{
    height: 10%;
    margin:0 0 10px 0;
  }
  section{
    margin:10px 0 10px 0;
    background-color: rgba(139, 54, 54, 0.77);
  }

  p{
    font-size: 12px;
    font-family: Arial;
  }

  img{
    height: 50px;
    width: 50px;
  }

  footer{
    background-color: red;
    padding:5px 0 5px 0;
  }
}

@media (max-width: 1500px) { /*css index pour ordinateur*/
  body{
    background-color: rgba(173, 173, 173, 0.75);
  }

  *{
    border:1px solid black;
  }
  header{
    height: 10%;
    margin:0 0 10px 0;
  }

  .construction{

  }

.articleConstruction{
  position: relative;
}

.text{
  position: absolute;
}

  section{
    margin:10px 0 10px 0;
    background-color: rgba(139, 54, 54, 0.77);

  }

  article{

  }

  div{

  }

  p{

    top:50px;
    left:22%;
    width: 75%;
    font-size: 12px;
    font-family: Arial;
  }

  .imageConstruction{ /*modifie les images */
    height: 100px;
    width: 100px;
  }

  footer{
    padding:10px 0 10px 0;
  }
}
</style>
